@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family:Roboto, "san serif";
    margin: auto;
    min-width: 1400px;
    max-width: 1250px;
    background-color: black;
}
.header-container {
    background-color: #1f2937;
    padding: 0px 150px;
    color: white;

}
.header-top {
    display:flex;
    justify-content: space-between;
    
}
.logo {
    font-size: 24px;
    columns: #f9faf8;
    margin-top: 12px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.header-links {
    display: flex;
    margin-top: 12px;
    gap: 24px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:400px
}
.hbl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 550px;
    height: 267px;
    
}
.hero {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}
.sidekick {
    font-size: 18px;
    margin-top: 16px;

}
.inna_cover {
    width: 400px;
    height: auto;
    border-radius: 12px;
}

.b-top {
    background-color: #3882f6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;
    width: 100px;
    height: auto;
    font-weight: 700;
    font-size: medium;
    margin-top: 16px;
}
.container-one {
    background-color: antiquewhite;
}
.random {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}